/* Main container for skill cards */
.tech-skill-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

/* Individual skill card styles */
.tech-skill-container div {
  flex: 1 1 calc(33.33% - 30px); /* Default: 3 items per row */
  margin: 20px 15px; 
  border: 1.7px solid rgba(200, 137, 230, 0.637);
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 5px 4px rgba(89, 4, 168, 0.137);
  transition: transform 0.4s ease, border-color 0.4s ease, box-shadow 0.4s ease;
}

.tech-skill-container div:hover {
  transform: scale(1.1);
  border-color: #ffffff; /* Highlight border on hover */
  box-shadow: 6px 8px 6px rgba(89, 4, 168, 0.2);
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.tech-skill-container div:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .tech-skill-container div {
    flex: 1 1 calc(50% - 30px); 
  }
}

@media (max-width: 480px) {
  .tech-skill-container div {
    flex: 1 1 calc(100% - 30px);
  }
}
